<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
    <title>About Us</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>About Us</h1>
    </header>
    <main>
        <section>
            <h2>Our Mission</h2>
            <p>Our mission is to provide accurate and up-to-date weather information to help you plan your day.</p>
        </section>
        <section>
            <h2>Our Team</h2>
            <p>We are a team of dedicated meteorologists and developers committed to delivering the best weather app experience.</p>
        </section>
        <section>
            <h2>Contact Us</h2>
            <p>If you have any questions or feedback, please contact us at support@weatherapp.com.</p>
        </section>
    </main>
    <footer>
        <p>© 2024 Weather App. All rights reserved.</p>
    </footer>
</body>
</html>