<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap css -->
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <title>SAFER</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="{% url 'index' %}">
            <i class="fa-solid fa-cloud-bolt fa-2x mx-3 ps-1"></i>
          </a>
          <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- <form class="me-3">
              <div class="form-white input-group" style="width: 250px;">
                <input type="search" class="form-control rounded" placeholder="Search region or forum"
                  aria-label="Search" aria-describedby="search-addon" />
              </div>
            </form> -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'community-home' %}">Community</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Emergency contacts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
              
            </ul>
            <ul class="navbar-nav d-flex flex-row ms-auto me-3">
              <li class="nav-item me-3 me-lg-0">
                <a class="nav-link btn btn-primary" href="{% url 'login-user' %}">Login</a>
              </li>
              <li class="nav-item me-3 me-lg-0">
                <a class="nav-link btn btn-primary" href="{%  url 'register' %}">Sign up</a>
              </li>
              
              <li class="nav-item me-3 me-lg-0 dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-plus"></i>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Add alert</a></li>
                </ul>
              </li>
              <li class="nav-item me-3 me-lg-0 dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="22"
                  alt="" loading="lazy" />
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="container forecast-container mt-5">
        <div class="header">
            <h1 class="mb-3">Weather Forecast</h1>
            <form action="" method="POST" class="d-flex justify-content-center" role="search">
                {% csrf_token %}
                <input name="city" class="form-control me-2 city-search" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-warning" type="submit">Search</button>
            </form>
        </div>
        <div class="current-weather">
            {% if weather_data %}
                <div class="current-weather-icon">
                    <img src="http://openweathermap.org/img/w/{{ weather_data.icon }}.png" alt="{{ weather_data.description }}">
                </div>
                <div class="weather-info">
                    <h2>{{weather_data.city}} - {{weather_data.country}} </h2>
                    <p class="temperature">{{ weather_data.temperature }}°C</p>
                    <div class="details">
                        <p>Description: {{ weather_data.description}}</p>
                        <p>Humidity: {{weather_data.humidity}}%</p>
                        <p>Wind: {{weather_data.wind_speed}}km/h</p>
                        <p>H: {{weather_data.max_temp}}°C  L: {{weather_data.min_temp}}°C</p>
                    </div>
                </div>
            {% endif %}

            
        </div>
        <div class="forecast">
            {% if forecast_data %}
                {% for forecast in forecast_data %}
                    <div class="day">
                        <div class="weather-icon">
                            <img src="http://openweathermap.org/img/w/{{ forecast.icon }}.png" alt="{{ forecast.description }}">
                        </div>
                        <p>{{forecast.temperature}}°C</p>
                        <p>{{forecast.day}}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <!-- Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" ></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
