<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAFER</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Weather Forecast</h1>
            <form action=""></form>
        </div>
        <div class="current-weather">
            {% if weather_data %}
                <div class="weather-icon">
                    <img src="http://openweathermap.org/img/w/{{ weather_data.icon }}.png" alt="{{ weather_data.description }}">
                </div>
                <div class="weather-info">
                    <h2>{{weather_data.city}} - </h2>
                    <p class="temperature">{{ weather_data.temperature }}°C</p>
                    <div class="details">
                        <p>Description: {{ weather_data.description}}</p>
                        <p>Humidity: {{weather_data.humidity}}%</p>
                        <p>Wind: {{weather_data.wind_speed}}km/h</p>
                        <p>H: {{weather_data.max_temp}}°C  L: {{weather_data.min_temp}}°C</p>
                    </div>
                </div>
            {% endif %}

            
        </div>
        <div class="forecast">
            {% if forecast_data %}
                {% for forecast in forecast_data %}
                    <div class="day">
                        <div class="weather-icon">
                            <img src="http://openweathermap.org/img/w/{{ forecast.icon }}.png" alt="{{ forecast.description }}">
                        </div>
                        <p>{{forecast.temperature}}°C</p>
                        <p>{{forecast.day}}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
