<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <title>SAFER</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">
        <i class="fa-solid fa-cloud-bolt fa-2x mx-3 ps-1"></i>
      </a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <form class="me-3">
          <div class="form-white input-group" style="width: 250px;">
            <input type="search" class="form-control rounded" placeholder="Search region or forum"
              aria-label="Search" aria-describedby="search-addon" />
          </div>
        </form> -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'community-home' %}">Community</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'emergency' %}">Emergency contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog-home' %}">Blog</a>
          </li>
          
        </ul>
        <ul class="navbar-nav d-flex flex-row ms-auto me-3">
          
          {% if user.is_authenticated %}
          <li class="nav-item me-3 me-lg-0 dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-plus"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Add alert</a></li>
            </ul>
          </li>
          <li class="nav-item me-3 me-lg-0 dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="22"
              alt="" loading="lazy" />
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'logout_user' %}">Logout</a></li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link btn btn-primary" href="{% url 'login-user' %}">Login</a>
          </li>
          <!-- <li class="nav-item me-3 me-lg-0">
            <a class="nav-link btn btn-primary" href="{%  url 'register' %}">Sign up</a>
          </li> -->
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
    
    <div class="container-fluid col-md-6 col-lg-4 mt-2">
        <div class="card auth-card text-white">
          <div class="card-header">
            <h3 class="text-center">Create an Account</h3>
          </div>
            <div class="card-body">
              {% if messages %}
              {% for message in messages %}
              <div class="alert alert-{{message.tags}}" role="alert">
                {{message}}
              </div>
              {% endfor %}
              {% endif %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group mb-3 px-3">
                      <label for="exampleInputEmail1">{{ form.username.label }}</label>
                      {% render_field form.username class="form-control" %}
                    </div>
                    <div class="form-group mb-3 px-3">
                      <label for="exampleInputEmail1">{{ form.email.label }}</label>
                      {% render_field form.email class="form-control" %}
                    </div>
                    <div class="form-group mb-3 px-3">
                      <label for="exampleInputEmail1">{{ form.password1.label }}</label>
                      {% render_field form.password1 class="form-control" %}
                    </div>
                    <div class="form-group mb-3 px-3">
                      <label for="exampleInputEmail1">{{ form.password2.label }}</label>
                      {% render_field form.password2 class="form-control" %}
                    </div>
                    <div class="form-group mb-3 px-3">
                      <label for="exampleInputEmail1">{{ form.receive_alerts.label }}</label>
                      {% render_field form.receive_alerts class="form-check-input" %}
                    </div>
                    <div class="mb-3 px-3">
                      <p>Already have an account? <a href="{% url 'login-user' %}">Sign In</a></p>
                    <input type="submit" value="Register" class="btn btn-primary col-lg-12 col-12 mt-2 mb-3">
                  </form>
            </div>
        </div>
    </div>
    <!-- Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" ></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>